html {
    font-size: 24px;
}

body {
    font-family: 'Dancing Script', cursive;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    padding: 10px 50px 10px 50px;
    font-size: 1.5rem;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    cursor: pointer;
}

h2 {
    border-bottom: 1px solid black;
}

#email, #tel {
    font-size: 1rem;
}
/*   header   */

#header {
    position: fixed;
    top: 0;
    z-index: 10;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    width: 100%;
    background-color: white;
}

@media only screen and (max-width: 600px) {
    a {
        font-size: .8rem;
    }
}
main {
    position: relative;  /* to make up for fixed header */
    top: 3rem;
}

/* banner */

.banner {
    height: 40rem;
    background-image: url('spatulas.webp');
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid black;
    margin: 1%;
}

#over {
    padding: 30px;
    position: relative;
    top: 10rem;
    left: 10rem;
    width: 40%;
    height: 15rem;
    text-align: center;
    background-color: #F08080;
    border-radius: 10px;
}

#over p {
    line-height: 2rem;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    #over {
        display: none;
    }

    .banner {
        height: 20rem;
    }
}

/* About us */

#about-div {
    display: flex;
    justify-content: center;
}

#about h2 {
    padding: 0 30px;
}

#img-div {
    width: 40%;
    margin: 20px;
}

#img-div img {
    width: 100%;
}

#info {
    width: 60%;
    padding: 30px;
}

@media only screen and (max-width: 600px) {
    #about-div {
        flex-direction: column;
        align-items: center;
    }
}

/* Products */

#products h2 {
    padding: 0 30px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.products img {
    height: 10rem;
}

.products p {
    text-align: center;
}

.product {
    margin: 20px;
}

@media only screen and (max-width: 600px) {
    .products {
        flex-direction: column;
        align-items: center;
    }
}

/* Visit us */

#contacts {
    display: flex;
    justify-content: space-evenly;
}
.contact h3 {
    border-bottom: 1px solid black;
}
.contact {
    text-align: center;
    line-height: 2rem;
}

@media only screen and (max-width: 600px) {
    #contacts {
        flex-direction: column;
        align-items: center;
    }
}