body {
    font-size: 16px;
}



section.back, section.front {
    height: 40rem;
    width: 80%;
    background-color: #f1d592;
    border: 2px solid #d9b45d;
    margin: auto;
    border-radius: 10px;
}

section.paper {
    position: relative;
    top: -37.5rem;
    background-color: white;
    height: 35rem;
    width: 75%;
    margin: auto;
}

section.front {
    transform: skewX(5deg) scaleY(0.9) translateX(-1.75rem) translateY(2rem);
    position: relative;
    top: -75rem;
}

#about {
    display: none;
}

#skills {
    display: none;
}

#summary {
    width: 90%;
    text-align: center;
}

nav {
position: relative;
left: 15%;
}

.tag {
    display: inline-block;
    background-color: #f1d592;
    border: 2px solid #d9b45d;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 10rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color: black;
    cursor: pointer;
}

.open {
    position: relative;
    top: 2px;
    height: 2.5rem;
    z-index: 10;
}

.closed {
    z-index: 1;
}

