body {
    font-size: 16px;
}

container {
    display: grid;
}

section.back, section.front {
    grid-area: 1/1;
}

section {
    height: 30rem;
    width: 80%;
    background-color: #f1d592;
    border: 2px solid #d9b45d;
    margin: auto;
    border-radius: 10px;
}

section.front {
    transform: matrix(1,0,0.1,.9,-25,20);
    position: relative;
    top: -30rem;
}

#about {
    display: none;
}

#skills {
    display: none;
}

#summary {
    width: 90%;
    text-align: center;
}

nav {
position: relative;
left: 15%;
}

nav a {
    display: inline-block;
    background-color: #f1d592;
    text-decoration: none;
    border: 2px solid #d9b45d;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 10rem;
    height: 2.5rem;
    font-size: 2rem;
    text-align: center;
    color: black;
}

.open {
    position: relative;
    top: 2px;
    height: 2.5rem;
    z-index: 10;
}

.closed {
    z-index: 1;
}

