body {
    font-size: 16px;
    font-family: 'Stylish', sans-serif;
    color: rgb(5, 30, 44);
    margin: 0;
    background-color: rgb(255, 243, 243);
}


nav a {
    text-decoration: none;
    font-size: 2rem;
    color:rgb(5, 30, 44);
    padding: 0 20px;
    border: 2px solid rgb(255, 243, 243);
    border-radius: 5px;
}

a.curPos {
    background-color: lightsteelblue;
}

nav {
    width: 100%;
    background-color: rgb(255, 243, 243);
    position: fixed;
    top: 0;
    z-index: 10;
    padding: 10px 20px;
}

#home {
    height: 40rem;
    background-image: url('water.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
}

#welcome {
    position: relative;
    top: 5rem;
    text-align: left;
    width: 70%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
}

#welcome h1 {
    font-size: 3rem;
    padding: 20px;
}

#name {
    width: 50%;
    background-color:rgb(130, 146, 165);
    border-radius: 5px;
    margin: 20px 0;
}

#summary {
    width: 50%;
    background-color: rgb(130, 146, 165);
    border-radius: 5px;
}

p {
    text-align: left;
    padding: 0 20px;
}

#home, #about, #work, #contact {
    position: relative;
    top: 4rem;
}
#about, #work, #contact {
    height: 20rem;
}

h2 {
    padding: 20px;
}